*{
    text-align: center;
    
}

body{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
#inp{
    margin-bottom: 20px;
}
.btn{
    height: 35px;
    width: 35px;
    border-radius: 20%;
    border: 2px solid black;
    margin: 0.5rem;
}